.dockerignore
Dockerfile
.hadolint.yml
.git/
.gitignore
.isort.cfg
.pre-commit-config.yaml
LICENSE
Makefile
pytest.ini
README.md
requirements.dev.txt
setup.cfg
setup.py
tox.ini
**/**/__pycache__/**
**/**/tests/
